@import url(https://fonts.googleapis.com/css?family=Varela+Round);

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, html {
  height: 100%;
  margin: 0;
  color: #777;
  font-family: "Roboto", sans-serif;
}



.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.80;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
}

.bgimg-1 {
  background-image: url(media/plastic-pollution3.jpg);
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.bgimg-2 {
  background-image: url(media/plastic-pollution.jpg);
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  z-index: 10;
}

.bgimg-3 {
  background-image: url(media/plastic-pollution8.jpg);
  height: 100vh;
  z-index: 10;
}

.bgimg-4 {
  background-image: url(media/plastic-pollution9.jpg);
  height: 100vh;
  z-index: 10;
}

@media all and (max-width: 514px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    width: 100%;
  }
}

#header h1 {
  margin: -1.5rem 0 0.5rem 0;
  font-weight: 200;
  font-size: 3rem;
  color: #f4f2f2;
  opacity: 0.80;
  background-color: #aa1b1b;
  color: #fffcfc;
  padding: 5px;
  letter-spacing: 5px;
  box-shadow: 0px 10px 9px -4px rgba(0,0,0,0.75);
}

#header p {
  color: #000000;
  opacity: 0.80;
  font-size: 1.5rem;
  font-weight: bold;
}

.arrow {
  color: black;
  font-size: 3rem;
  animation: arrow 1s ease-in-out infinite alternate;
  padding: 1rem 1rem 1rem;
  position: absolute;
  bottom: 2px;
}

@keyframes arrow {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.9);
  }
}

/* Label 1 */

#label-1 {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 100px;
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 130px;
  right: 300px;
  float: right;
  font-size: 35px;
  opacity: 0.65;
  background-color: #aa1b1b;
  color: #fffcfc;
  padding: 20px;
  letter-spacing: 5px;
  -webkit-transition-property: width, height;
  -webkit-transition-duration: 1s;
  transition-property: width, height;
  transition-duration: 1s;
  z-index: 10;
  box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.75);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#label-1:hover {
  height: 220px;
  opacity: 0.80;
}

#label-1 h1 p {
  text-align: justify;  
}

#label-1 h3 {
  margin: 0;
  padding: 10px;
  align-items: left;
}

#label-1 p {
  text-align: left;
}

#topBtn {
  padding: 0;
  margin: 0;
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 25px;
  color: #ffffff;
  background-color: #aa1b1b;
  width: 35px;
  height: 35px;
  opacity: 0.65;
  border: none;
  cursor: pointer;
  box-shadow: 0px 10px 24px -5px rgba(0,0,0,0.75);
  outline: none;
  z-index: 99999999;
  display: none;
}

#topBtn:active{
  background: #7a0c0c;
}
#topBtn:hover{
  background-color: #aa1b1b;
  opacity: 0.85;
}

/* Label 2 */

#label-2 {
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 130px;
  right: 300px;
  width: 380px;
  height: 100px;
  float: right;
  color: #f4f2f2;
  opacity: 0.50;
  background-color: #000000;
  color: #fffcfc;
  padding: 20px;
  font-size: 35px;
  letter-spacing: 5px;
  -webkit-transition-property: width, height;
  -webkit-transition-duration: 1s;
  transition-property: width, height;
  transition-duration: 1s;
  z-index: 10;
  box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.75);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#label-2:hover {
  height: 340px;
  opacity: 0.80;
}

#label-2 h2 p {
  text-align: justify;
}

#label-2 h3 {
  margin: 0;
  padding: 10px;
  align-items: left;
}

#label-2 p {
  text-align: left;
}

/* Label 3 */

#label-3 {
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 130px;
  right: 300px;
  float: right;
  width: 380px;
  height: 100px;
  color: #f4f2f2;
  opacity: 0.65;
  background-color: #aa1b1b;
  color: #fffcfc;
  padding: 20px;
  font-size: 35px;
  letter-spacing: 5px;
  -webkit-transition-property: width, height;
  -webkit-transition-duration: 1s;
  transition-property: width, height;
  transition-duration: 1s;
  box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.75);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 10;
  }

#label-3:hover {
  height: 250px;
  opacity: 0.80;
  
}

#label-3 h2 p {
  text-align: justify;
}

#label-3 h3 {
  margin: 0;
  padding: 10px;
  align-items: left;
}

#label-3 p {
  text-align: left;
  z-index: 1;
}

@media all and (max-width: 590px) {
  #label-1, #label-2, #label-3 {
    width: 50vh;
    height: auto;
    position: absolute;
    left: 0px;
    border-top-left-radius: unset;
  }
}


/* Navigation */

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 40%;
  left: 0;
  margin: 0 auto;
  font-family: 'Varela Round', sans-serif;
}
.container p {
  font-size: 20px;
}
.container a {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #1abc9c;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  top: 5px;
}
.container a:after {
  content: '';
  position: absolute;
  background: #1abc9c;
  height: 2px;
  width: 0%;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  transition: .35s ease;
}
.container a:hover:after, .container a:focus:after, .container a:active:after {
  width: 100%;
}

h1 {
  position: relative;
  text-align: center;
  font-family: 'Varela Round', serif;
}

.button_container {
  position: fixed;
  top: 15px;
  right: 10px;
  height: 27px;
  width: 30px;
  cursor: pointer;
  transition: opacity .25s ease;
  z-index: 9999999;
}
.button_container:hover {
  opacity: 0.7;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #aa1b1b;
  opacity: 0.85;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
  
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #070707;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 1;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}


.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
  z-index: 999999;  
}

.overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
  
}

.overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: .50s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 45px;
  font-family: 'Varela Round', serif;
  font-weight: 500;
  text-align: center;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 70%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #818181;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
  
}

.overlay ul li a:hover {
  color: #f1f1f1;
  transition: 1s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}


/*Columns */

#info-1 p {
  margin: 0 auto;
  max-width: 988px;
  font-size: 1.2rem;
  color: white;
}

.info-1 {
  background-color:#000;
  opacity: 0.75;
}

.columns img {
  position: relative;
  width: 50%;
  height: auto;
  object-fit: cover;  
}

.columns {
  position: relative;
  display: flex;
  flex-direction: row;
  color: #fff;
  z-index: 99999;  
}

.columns:nth-child(even) {
  flex-direction: row-reverse;
  width: 100%;
}

.columns div {
  flex-basis: 50%;   
  z-index: 99999;
}

.columns div:first-child {
  background-color: #aaa;
  background-size: cover;
  background-position: top left;
  padding: 2rem;  
}

.columns div:last-child {
  padding: 2rem;
}

.columns h1 {
  margin-bottom: 3rem;
}

.columns p {
  margin-bottom: 3rem;
}

.columns:hover{
  background-color: rgb(94, 87, 87);
  cursor: pointer;
  
}

.columns div ul{
  margin-bottom: 3rem;
  padding: 0 0 1.5rem 1rem;
}

/* breakpoints */
@media all and (max-width: 972px) {
      .columns, .columns:nth-child(even) {
        flex-direction: column;   
    }
      
    .columns div {
        flex-basis: auto;
        z-index: 9999999999;
    }

    .columns img {
        width: 100%;
        height: 40vh;          
    }

    .columns div:first-child {
        height: 40vh;   
    }

    .columns div:last-child {
        width: auto; 
    }

    .columns:hover{
        background-color: rgb(94, 87, 87);
        cursor: pointer;
    }
}

.button {
  background: transparent;
  border: 1px solid #edf1f2;
  border-radius: 6px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.6s; /* Safari */
  transition-duration: 0.6s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
}

.button:hover {
    background-color: #aa1b1b;
    color: white;
    opacity: 0.80;
    border: 1px solid #aa1b1b;
 }

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #aa1b1b;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  opacity: 0.80;
}

section p {
  text-align: center;
  font-size: 1.2rem;
}

.info-1 ul {
  font-size: 1.2rem;
  margin: 0;
}

.items {
  background-color: #2f5760;
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-basis: auto;
  flex-wrap: wrap;
  padding: 0px;
  overflow: hidden;   
}


@media all and (max-width: 970px) {
    .products-1 {
      display: none;
    }
}
    

/*FOOTER*/

footer {
  padding: 5rem;
  margin: 0;
  background: linear-gradient(to bottom, #333333 0%, #000000 100%); 
  
}

.follow-us {
  position: relative;
  bottom: 3.5rem;
  text-align: center;
  font-size: 1.5rem;
}

.follow-us a {
  color: #aa1b1b;
  opacity: 0.75;
  text-decoration: none;
}

footer ul {
  list-style: none;
  margin: 0 auto 2rem auto;
  display: flex;
  padding: 0;
  justify-content: space-around;
  font-size: 2.5rem;
  max-width: 800px;    
}

footer ul a {
  color: #fff;
}

footer ul a i {
  transition: all 0.3s;
}

footer ul a:hover i {
  transform: scale(1.4);
}

footer p {
  text-align: center;
  font-size: 0.8rem;
}
